/*BryansBonfire Style Sheet*/

body, header, nav, main, footer, img, h1, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
    
}

body {
    background-color:slategray;
    color: mintcream;
    margin: 1em;
    font-family: monospace;
    font-size: 16px;
}

ul {
    list-style-type: disc;
    color: lightgrey;
    width: 100%;
    float: left;
    margin: 3em;
}

nav {
width: 100%;
float: right; /*moves links to the right of the page*/
margin: 5em 3em 0 0;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
    }


.adventures {       /*calls div tag on projects.html*/
    font-size: 24px;
}