/*BryansBonfire Style Sheet*/

body, header, nav, main, footer, img, h1, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
      width: 100%;
      height: 100%;
      background: linear-gradient(35deg, lightblue, tan, #7A8B8B);
}


body {
    color: #303030;
    margin: 1em;
    font-family: monospace;
    font-size: 16px;

}

ul {
    list-style-type: disc;
    color: #303030;
    width: 100%;
    float: left;
    margin: 3em;
}

nav {
width: 100%;
float: right; /*moves links to the right of the page*/
margin: 5em 3em 0 0;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
    }
  a{
    color: #303030;
  }
  a:hover {
    color: mintcream;
  }
.adventures {       /*calls div tag on projects.html*/
    font-size: 24px;
}

/*heart for footer div*/

  .heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 5em;
  bottom: -10em;
  left: 0;
  background-color: orange;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
      }
      .heart::after {
        background-color: orange;
        content: "";
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 25px;
      }
      .heart::before {
        content: "";
        background-color: orange;
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        top: -25px;
        left: 0px;
      }
      .heart:hover {
        transform: scale(2) rotate(-45deg);
      }

/*for mobile devices use at media screen*/
@media screen and (max-width: 768px) {
  html {
    background: linear-gradient(45deg, lightgrey,black);
      }
  body {
    color: white;
  }
  li {
    color: white;
  }
  nav {
      margin: 2em;

      }
    a {
        color: white;
        display: block;
        padding-bottom: 20px;
      }
  footer {
    position: absolute;
    left: 1em;

  }
}
